<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>News Hub</title>
</head>


<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse" class="nav navbar-nav">
                    <button type="button" id="home">Home</button>
                    <button type="button" id="save">Saved Articles</button>
                    <button type="button" id="scraper">Scrape</button>
                    <button type="button" id="emptier">Empty</button>
            </div>
        </div>
    </nav>

    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
</body>

</html>